<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings version="2">
    <category id="admin" label="Admin">
        <group>
            <setting id="admin_build_url" type="string">
                <label>Build URL</label>
                <default></default>
            </setting>
            <setting id="admin_token" type="string">
                <label>Access Token</label>
                <default></default>
            </setting>
        </group>
    </category>
</settings>
